name: Deploy Rust
concurrency: Crates.io

on:
  push: 
    tags: "v*"

jobs:
  quality-check:
    uses: ./.github/workflows/quality.yml

  publish:
    environment: crates.io
    needs: quality-check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Publish
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
      run:
        cargo publish
