name: Quality Checks

on:
  push:
    paths: 
    - "**.rs"
    - "Cargo.toml"
    - ".github/workflows/quality.yml"
  pull_request:
  workflow_call:

env:
    CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [
            "3.10",
            "3.11",
            "3.12",
            "3.13",
            # "3.14"
        ]
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: fmt
      run: cargo fmt --check
    - name: clippy
      run: cargo clippy
